.sidebar {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  width: 30%;
  border-right: 1px solid #20202050;
  position: relative;
}
.t1 {
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
  padding: 20px;
}
.layout {
  display: flex;
}
.t2 {
  text-align: center;
  text-transform: capitalize;
}
.main-body {
  width: 70%;
  background-color: #f1f1f1;
}
.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  width: 50%;
}
.photo-item {
  height: 160px;
  overflow: hidden;
}
.photo-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
.photo-container {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 769px) {
  .photo-grid {
    width: 100%;
  }
}
