.app-header {
  text-align: center;
  padding: 1.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  box-shadow: 0 0 10px #30303080;
  margin-bottom: 10px;
}
.customer-card {
  padding: 20px;
  border-bottom: 1px solid #20202050;
  transition: 0.3s;
  background-color: #ffffff;
  cursor: pointer;
  h3 {
    margin: 0;
    text-transform: uppercase;
  }
  p {
    margin: 0;
  }
}
.customer-card:hover {
  background-color: #e1e1e1;
}
.text-center {
  text-align: center;
}
.customer-card.active {
  background-color: #cfcfcf;
}
